In [1]:
"""
Notebook compares price/market_value between v2 and v3
"""
from notebook_init import settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from opennem.db import get_database_engine, db_connect 
from opennem.schema.network import NetworkNEM
from opennem.core.compat.schema import OpennemDataSetV2
from opennem.core.compat.loader import load_statset_v2
from opennem.utils.http import http
from opennem.utils.numbers import sigfig_compact
from opennem.core.compat.energy import trading_energy_data
from opennem.utils.series import series_joined, series_are_equal
from opennem.core.energy import _energy_aggregate, energy_sum
from opennem.workers.energy import get_generated_query, get_generated

engine = db_connect(settings.db_url)
engine_local = db_connect("postgresql://opennem:opennem@127.0.0.1:15433/opennem")

In [36]:
# Get the v2 values for NSW1 coal_black market_value per day
URI_V2_NSW_DAILY = "https://data.opennem.org.au/nsw1/energy/daily/2021.json"

r = http.get(URI_V2_NSW_DAILY)
v2 = load_statset_v2(r.json())

v2_coal = list(filter(lambda x: "black_coal.energy" in x.id, v2.data)).pop().history.values()
v2_coal_mv = list(filter(lambda x: "black_coal.market_value" in x.id, v2.data)).pop().history.values()

df_coal = pd.DataFrame(v2_coal, columns=["trading_interval", "v2_energy"])
df_coal = df_coal.set_index(["trading_interval"])

df_coal_mv = pd.DataFrame(v2_coal_mv, columns=["trading_interval", "v2_market_value"])
df_coal_mv = df_coal_mv.set_index(["trading_interval"])

v2 = df_coal.join(df_coal_mv)
v2["v2_price"] = v2.v2_market_value / v2.v2_energy / 1000
v2 = v2.sort_index(ascending=False)
v2

                  v2_energy  v2_market_value   v2_price
trading_interval
2021-03-25            126.6        6565536.0  51.860474
2021-03-24            120.8        4902005.0  40.579512
2021-03-23            123.8        7728406.0  62.426543
2021-03-22            117.6        7538788.0  64.105340
2021-03-21            117.3        4713408.0  40.182506
...                     ...              ...        ...
2021-01-05            137.5        5234078.0  38.066022
2021-01-04            142.5        5171120.0  36.288561
2021-01-03            130.1        3854315.0  29.625788
2021-01-02            118.7        3724282.0  31.375586
2021-01-01            111.3        3563743.0  32.019254

[84 rows x 3 columns]

In [34]:
date_min = datetime.fromisoformat("2021-01-01T00:00:00+10:00")
date_max = datetime.fromisoformat("2021-03-25T00:00:00+10:00")

__query = """
        select
            date_trunc('day', t.trading_day) as trading_interval,
            -- t.fueltech_id,
            sum(t.energy) / 1000 as v3_energy,
            sum(t.market_value_rrp) as v3_market_value
            -- sum(t.emissions) as fueltech_emissions
        from mv_network_fueltech_days t
        where
            t.trading_day <= '{date_max}'::date and
            t.trading_day >= '{date_min}'::date and
            t.fueltech_id not in ('imports', 'exports', 'interconnector') and
            t.network_id='NEM' and
            t.network_region='NSW1' and
            t.fueltech_id='coal_black'
        group by 1
        order by 1 desc;
"""

query = __query.format(
    date_min=date_min - timedelta(minutes=10),
    date_max=date_max + timedelta(minutes=10)
)

v3 = pd.read_sql(query, engine, index_col=["trading_interval"])
v3["v3_price"] = v3.v3_market_value / v3.v3_energy / 1000

v3

                   v3_energy  v3_market_value   v3_price
trading_interval
2021-03-25        126.649359     6.138351e+06  48.467292
2021-03-24        120.780183     4.898391e+06  40.556250
2021-03-23        123.843632     7.653846e+06  61.802500
2021-03-22        117.559371     7.358457e+06  62.593542
2021-03-21        117.341813     4.657737e+06  39.693750
...                      ...              ...        ...
2021-01-04        142.531191     5.145851e+06  36.103333
2021-01-03        130.061689     3.794875e+06  29.177500
2021-01-02        118.684581     3.687332e+06  31.068333
2021-01-01        111.256994     3.504804e+06  31.501875
2020-12-31        120.959234     4.371920e+06  36.143750

[85 rows x 3 columns]

In [37]:
df = v2.join(v3)
df

,v2_energy,v2_market_value,v2_price,v3_energy,v3_market_value,v3_price
trading_interval,,,,,,
2021-03-25,126.6,6565536.0,51.860474,126.649359,6.138351e+06,48.467292
2021-03-24,120.8,4902005.0,40.579512,120.780183,4.898391e+06,40.556250
2021-03-23,123.8,7728406.0,62.426543,123.843632,7.653846e+06,61.802500
2021-03-22,117.6,7538788.0,64.105340,117.559371,7.358457e+06,62.593542
2021-03-21,117.3,4713408.0,40.182506,117.341813,4.657737e+06,39.693750
...,...,...,...,...,...,...
2021-01-05,137.5,5234078.0,38.066022,137.457404,5.137814e+06,37.377500
2021-01-04,142.5,5171120.0,36.288561,142.531191,5.145851e+06,36.103333
2021-01-03,130.1,3854315.0,29.625788,130.061689,3.794875e+06,29.177500
2021-01-02,118.7,3724282.0,31.375586,118.684581,3.687332e+06,31.068333
2021-01-01,111.3,3563743.0,32.019254,111.256994,3.504804e+06,31.501875

In [ ]:
date_min = datetime.fromisoformat("2021-01-01T00:00:00+10:00")
date_max = datetime.fromisoformat("2021-03-25T00:00:00+10:00")

__query = """
        select
            date_trunc('day', t.trading_day) as trading_interval,
            -- t.fueltech_id,
            sum(t.energy) / 1000 as v3_energy,
            sum(t.market_value) as v3_market_value
            -- sum(t.emissions) as fueltech_emissions
        from mv_network_fueltech_days t
        where
            t.trading_day <= '{date_max}'::date and
            t.trading_day >= '{date_min}'::date and
            t.fueltech_id not in ('imports', 'exports', 'interconnector') and
            t.network_id='NEM' and
            t.network_region='NSW1' and
            t.fueltech_id='coal_black'
        group by 1
        order by 1 desc;
"""

query = __query.format(
    date_min=date_min - timedelta(minutes=10),
    date_max=date_max + timedelta(minutes=10)
)

manual = pd.read_sql(query, engine, index_col=["trading_interval"])