In [2]:
"""
Compare rooftop solar values in 2018 and earlier since they don't match at all
"""
# supress debug + import warnings
%reload_ext autoreload
%autoreload 2
%config IPCompleter.greedy=True

In [4]:
"""
Notebook compares price/market_value between v2 and v3
"""
from notebook_init import settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from opennem.db import get_database_engine, db_connect 
from opennem.schema.network import NetworkNEM
from opennem.api.stats.loader import load_statset
from opennem.api.stats.schema import OpennemData, OpennemDataSet
from opennem.core.compat.schema import OpennemDataSetV2
from opennem.core.compat.loader import load_statset_v2
from opennem.utils.http import http
from opennem.utils.numbers import sigfig_compact
from opennem.core.compat.energy import trading_energy_data
from opennem.utils.series import series_joined, series_are_equal
from opennem.core.energy import _energy_aggregate, energy_sum
from opennem.workers.energy import get_generated_query, get_generated

engine = db_connect(settings.db_url)
engine_local = db_connect("postgresql://opennem:opennem@127.0.0.1:15433/opennem")

In [27]:
# pick a random day that doesn't match
# we'll be comparing NSW1

date_start = datetime.fromisoformat("2018-03-30T00:00:00")
date_end = date_start + timedelta(days=1) 

v2_value = 5.972
v3_value = 4.11

In [9]:
csvcontent = None

with open("PUBLIC_DVD_ROOFTOP_PV_ACTUAL_201803010000.CSV") as fh:
    csvcontent = fh.read()

In [12]:
from opennem.core.parsers.aemo import parse_aemo_csv

tableset = parse_aemo_csv(csvcontent)

In [41]:
df = tableset.get_table("ROOFTOP_ACTUAL").to_frame()
# df = df.filter("")
df.INTERVAL_DATETIME = pd.to_datetime(df.INTERVAL_DATETIME)
df = df.query(f"'{date_start}' <= INTERVAL_DATETIME < '{date_end}'")
df

,INTERVAL_DATETIME,REGIONID,POWER,QI,TYPE,LASTCHANGED
29535,2018-03-30 00:00:00,NSW1,0,0.6,SATELLITE,2018/03/30 00:20:28
29536,2018-03-30 00:00:00,NSW1,0,1,MEASUREMENT,2018/03/30 00:19:53
29537,2018-03-30 00:00:00,NSW1,0,1,DAILY,2018/03/29 23:30:33
29538,2018-03-30 00:00:00,QLD1,0,1,DAILY,2018/03/29 23:30:33
29539,2018-03-30 00:00:00,QLD1,0,1,MEASUREMENT,2018/03/30 00:19:53
...,...,...,...,...,...,...
62690,2018-03-30 23:30:00,TASS,0,0.6,SATELLITE,2018/03/30 23:50:29
62691,2018-03-30 23:30:00,TASS,0,1,MEASUREMENT,2018/03/30 23:49:51
62692,2018-03-30 23:30:00,VIC1,0,1,DAILY,2018/03/30 23:30:34
62693,2018-03-30 23:30:00,VIC1,0,1,MEASUREMENT,2018/03/30 23:49:51
62694,2018-03-30 23:30:00,VIC1,0,0.6,SATELLITE,2018/03/30 23:50:29

In [56]:
df.REGIONID.unique()

array(['NSW1', 'QLD1', 'QLDC', 'QLDN', 'QLDS', 'SA1', 'TAS1', 'TASN',
       'TASS', 'VIC1'], dtype=object)

In [65]:
# meth1 test

REGIONS = ['NSW1']

df1 = df[df.REGIONID.isin(REGIONS)]
df1.POWER = df1.POWER.dropna().astype(float)
df1["energy"] = df.POWER / 2

df_sat = df1[df1.TYPE == "DAILY"]
df_sat = df_sat.set_index("INTERVAL_DATETIME")
df_sat.energy.sum() / 1000 / 2

# df_sat.to_csv("rooftop_sat.csv")

# df1.shape

5.971995499999999

In [84]:
from opennem.diff.versions import get_network_regions, get_url_map
regions = get_network_regions(NetworkNEM, "NSW1")
statsetmap = get_url_map(regions)

# load urls
[i.load_maps() for i in statsetmap]

[autoreload of opennem.diff.versions failed: Traceback (most recent call last):
  File "/Users/n/Projects/Opennem/opennem/.venv/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/Users/n/Projects/Opennem/opennem/.venv/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 410, in superreload
    update_generic(old_obj, new_obj)
  File "/Users/n/Projects/Opennem/opennem/.venv/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 347, in update_generic
    update(a, b)
  File "/Users/n/Projects/Opennem/opennem/.venv/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 317, in update_class
    update_instances(old, new)
  File "/Users/n/Projects/Opennem/opennem/.venv/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 280, in update_instances
    ref.__class__ = new
  File "pydantic/main.py", line 416, in pydantic.main.BaseModel.__setattr__
ValueError: "DiffComparisonSet" object has no field "__class__"
]

[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/power/nsw1.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/power/7d.json
[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/nsw1/energy/daily/2021.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/energy/2021.json
[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/nsw1/energy/daily/2020.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/energy/2020.json
[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/nsw1/energy/daily/2019.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/energy/2019.json
[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/nsw1/energy/daily/2018.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/energy/2018.json
[opennem.diff.versions                  DEBUG] Loading: https://data.opennem.org.au/nsw1/energy/monthly/all.json
[opennem.diff.versions                  DEBUG] Loading: https://data.dev.opennem.org.au/v3/stats/au/NEM/NSW1/energy/all.json

[None, None, None, None, None, None]

In [85]:
y2018 = list(filter(lambda x: x.year == 2018, statsetmap)).pop()
y2018_rooftop = list(filter(lambda x: "rooftop.energy" in x.id, y2018.v3.data)).pop()


y2018_df = pd.DataFrame(y2018_rooftop.history.values(), columns=["trading_day", "energy"])
y2018_df[y2018_df.trading_day == datetime.fromisoformat("2018-03-30T00:00:00+00:00")].energy

88    5.972
Name: energy, dtype: float64