In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
from notebook_init import settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import csv
from scripts.vwp import VWPBucket, read_vwp_data_fixture

 * Loading OpenNEM ENV development
 * OpenNEM Version: 3.10.13-alpha.2. Python version: 3.10.3. System: macOS-12.5-arm64-arm-64bit
 * Loading env file: /Users/n/Dropbox/Projects/Opennem/opennem/notebooks/.env
 * Using database connection: postgresql://opennem:*****@127.0.0.1:15433/opennem

[2022-08-11 12:16:17,104] opennem.utils.http                   WARNING] Attempting to attach proxy with no settings set

In [41]:
dtypes = {
    "rrp": float,
}

trading_price = pd.read_csv("data/trading_price.csv", index_col=["settlementdate", "regionid"], dtype=dtypes, parse_dates=["settlementdate"])

# filter to vic1
trading_price = trading_price.loc[trading_price.index.get_level_values('regionid') == 'VIC1']

trading_price.reset_index(inplace=True)
trading_price = trading_price[
    ["settlementdate",
    "regionid",
    "rrp"]
]
trading_price.set_index("settlementdate", inplace=True)
trading_price.sort_index()

                          regionid    rrp
settlementdate
2021-12-19 00:30:00+10:00     VIC1  61.51
2021-12-19 00:35:00+10:00     VIC1  60.45
2021-12-19 00:40:00+10:00     VIC1  64.96
2021-12-19 00:45:00+10:00     VIC1  59.75
2021-12-19 00:50:00+10:00     VIC1  58.99
...                            ...    ...
2022-02-06 00:05:00+10:00     VIC1  58.62
2022-02-06 00:10:00+10:00     VIC1  58.14
2022-02-06 00:15:00+10:00     VIC1  58.08
2022-02-06 00:20:00+10:00     VIC1  52.29
2022-02-06 00:25:00+10:00     VIC1  51.67

[14112 rows x 2 columns]

In [45]:
dtypes = {
    "totaldemand": float,
    "demand_and_nonschedgen": float
}

dispatch_regionsum = pd.read_csv("data/dispatch_regionsum.csv", index_col=["settlementdate", "regionid"], dtype=dtypes, parse_dates=["settlementdate"])

# filter to vic1
dispatch_regionsum = dispatch_regionsum.loc[dispatch_regionsum.index.get_level_values('regionid') == 'VIC1']


dispatch_regionsum.reset_index(inplace=True)
dispatch_regionsum = dispatch_regionsum[["settlementdate", "totaldemand", "demand_and_nonschedgen"]]
dispatch_regionsum.set_index("settlementdate", inplace=True)
dispatch_regionsum.sort_index()

                           totaldemand  demand_and_nonschedgen
settlementdate
2022-01-01 00:05:00+10:00      5005.34                5128.777
2022-01-01 00:10:00+10:00      4979.22                5103.966
2022-01-01 00:15:00+10:00      4935.92                5064.387
2022-01-01 00:20:00+10:00      4878.54                5007.378
2022-01-01 00:25:00+10:00      4834.30                4963.025
...                                ...                     ...
2022-01-31 23:40:00+10:00      5556.55                5641.520
2022-01-31 23:45:00+10:00      5499.25                5591.950
2022-01-31 23:50:00+10:00      5461.98                5555.720
2022-01-31 23:55:00+10:00      5400.13                5489.500
2022-02-01 00:00:00+10:00      5250.35                5335.955

[8928 rows x 2 columns]

In [71]:
vwp_table = trading_price.join(dispatch_regionsum)

# filter to jan 2022
vwp_table = vwp_table.loc['2022-01-01':'2022-01-31']
vwp_table["energy"] = vwp_table.demand_and_nonschedgen / 12
vwp_table["market_value"] = vwp_table.energy * vwp_table.rrp
vwp_table

,regionid,rrp,totaldemand,demand_and_nonschedgen,energy,market_value
settlementdate,,,,,,
2022-01-01 14:25:00+10:00,VIC1,121.81,5680.72,5812.254,484.354500,58999.221645
2022-01-01 18:05:00+10:00,VIC1,74.82,6188.58,6390.364,532.530333,39843.919540
2022-01-02 00:10:00+10:00,VIC1,95.71,4563.32,4711.268,392.605667,37576.288357
2022-01-01 04:20:00+10:00,VIC1,58.44,3913.42,4137.664,344.805333,20150.423680
2022-01-01 22:30:00+10:00,VIC1,93.94,4812.81,4991.194,415.932833,39072.730363
...,...,...,...,...,...,...
2022-01-31 06:15:00+10:00,VIC1,156.19,5390.37,5464.349,455.362417,71123.055859
2022-01-31 19:25:00+10:00,VIC1,76.58,8112.97,8253.282,687.773500,52669.694630
2022-01-30 11:10:00+10:00,VIC1,11.23,3940.79,4009.055,334.087917,3751.807304
2022-01-30 21:00:00+10:00,VIC1,71.94,5548.66,5727.268,477.272333,34334.971660
2022-01-30 05:45:00+10:00,VIC1,78.25,4028.01,4120.340,343.361667,26868.050417

In [73]:

agg = vwp_table.resample('d').agg({"energy": "sum", "market_value": "sum"})
agg["price"] = agg.market_value / agg.energy
agg

                                  energy  market_value       price
settlementdate
2022-01-01 00:00:00+10:00  122294.149749  8.733369e+06   71.412808
2022-01-02 00:00:00+10:00  111073.701581  4.914918e+06   44.249159
2022-01-03 00:00:00+10:00   94109.861077  4.020846e+05    4.272502
2022-01-04 00:00:00+10:00  108542.988997  1.497919e+06   13.800234
2022-01-05 00:00:00+10:00  115635.945338  2.864337e+06   24.770301
2022-01-06 00:00:00+10:00  121495.071833  5.172495e+06   42.573705
2022-01-07 00:00:00+10:00  118892.244584  6.017051e+06   50.609282
2022-01-08 00:00:00+10:00  103066.278668  4.113918e+06   39.915263
2022-01-09 00:00:00+10:00   96733.497001  4.656592e+06   48.138357
2022-01-10 00:00:00+10:00  121654.561084  8.682451e+06   71.369716
2022-01-11 00:00:00+10:00  124769.794079  6.175342e+06   49.493886
2022-01-12 00:00:00+10:00  125909.168666  1.557542e+06   12.370363
2022-01-13 00:00:00+10:00  135319.308508  4.588492e+06   33.908625
2022-01-14 00:00:00+10:00  140127.928414  1.078499e+07   76.965338
2022-01-15 00:00:00+10:00  110806.703083  5.427026e+06   48.977413
2022-01-16 00:00:00+10:00  113267.733334  6.524868e+06   57.605707
2022-01-17 00:00:00+10:00  119927.182503  7.213081e+06   60.145509
2022-01-18 00:00:00+10:00  111678.459421  1.194846e+06   10.698986
2022-01-19 00:00:00+10:00  112475.146927 -1.285144e+06  -11.426025
2022-01-20 00:00:00+10:00  117094.805336  2.337781e+06   19.964855
2022-01-21 00:00:00+10:00  126937.337496  4.187208e+06   32.986418
2022-01-22 00:00:00+10:00  122843.580583  5.139287e+06   41.836025
2022-01-23 00:00:00+10:00  126553.214250  7.102481e+06   56.122488
2022-01-24 00:00:00+10:00  148866.872832  1.304049e+07   87.598308
2022-01-25 00:00:00+10:00  152713.153583  1.702619e+07  111.491309
2022-01-26 00:00:00+10:00  142949.441583  1.459134e+07  102.073434
2022-01-27 00:00:00+10:00  153677.797253  1.262340e+07   82.142007
2022-01-28 00:00:00+10:00  147487.230332  1.476210e+07  100.090727
2022-01-29 00:00:00+10:00  111236.003590  3.988714e+06   35.858120
2022-01-30 00:00:00+10:00  115820.191585  9.220910e+06   79.614011
2022-01-31 00:00:00+10:00  148171.834500  8.599700e+07  580.386974

In [75]:
agg.to_csv("vic1_jan_vwp.csv")